.item-row
{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

.item-col-left
{
    width: 35%;
}
.item-col-mid
{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
}
.item-col-right
{
    width: 25%;
}

.item-image-container
{
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    max-height: 360px;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px;
    border: solid 1px #e0e0e0;
}

img.item-image
{
    width: 100%;
}
img.item-image.vertical
{
    height: auto;
    width: 120%;
    margin: auto;
    position: relative;
    left: -10%;
}
.item-gallery
{
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}
.item-gallery-box > div
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.item-gallery-box
{
    width: 8vw;
    height: 8vw;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    border: solid 1px #e0e0e0;
    padding: 4px;
    box-sizing: border-box;
}

.item-gallery-box img
{
    width: 100%;
}

.item-gallery-box img.horizontal
{
    height: 100%;
    width: auto;
}

.item-info h1
{
    font-size: 19px;
    font-weight: 800;
    color: #2c2c2c;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-info
{
    position: relative;
    padding-right: 1.5rem;
}

.item-info .fav
{
    position: absolute;
    top: 32%;
    right: 0;
    font-size: 1.5em;
    color: black;
}

.item-info p
{
    font-size: 17px;
    color: #2c2c2c;
    font-weight: 600;
    margin-top: 0;
    text-align: center;
}

.item-text
{
    font-size: 16px;
    font-weight: 400;
    color: #000;
    line-height: 18px;
    hyphens: auto;
    min-height: 100px;
    text-align: justify;
    width: 90%;
}

.item-text a
{
    color: var(--rosa);
    text-decoration: none;
}
.item-text p
{
    display: inline;
}

.item-ref
{
    text-align: right;
    font-size: 16px;
    font-weight: 400;
}
.item-ref span
{
    margin: 0 5px;
}
.item-textfooter 
{
    text-align: center;
    margin-top: 2rem;
}

.item-textfooter p
{
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}
.item-textfooter h6
{
    color: var(--rosa);
    font-size: 20px;
    font-weight: 700;
}
.item-social
{
    text-align: center;
    margin-bottom: 4rem;
}
.item-social span
{
    margin: 0 8px;
    font-weight: 700;
    font-size: 17px;
}
.item-social a
{
    font-size: 22px;
    margin: 0 3px;
    color: #000;
    text-decoration: none;
}
.card-name h3
{
    color: var(--grisoscuro);
    font-size: 19px;
    font-weight: 800;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
}
.card-name
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-bottom: 2rem;
    margin-top: -5rem;
}
.item-card
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: #565656b5 0 0 1px 2px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 4rem;
    max-width: 275px;
    margin: 0 auto;
}
.btn-triangle
{
    padding: .4rem;
    width: 65%;
    background: var(--rosa);
    position: relative;
}

.btn-triangle {}

.btn-triangle {}
.btn-triangle::after
{
    content: "";
    position: absolute;
    bottom: -10%;
    right: -30%;
    width: 70%;
    height: 40%;
    background: var(--gris);
    display: block;
    transform: rotateZ(-55deg);
}
.btn-triangle::before
{
    content: "";
    position: absolute;
    top: -10%;
    right: -30%;
    width: 70%;
    height: 40%;
    background: var(--gris);
    display: block;
    transform: rotateZ(55deg);
}

.item-card-item
{
    display: flex;
    background-color: var(--gris);
    padding: .5rem 1rem;
    color: white;
    font-size: 17px;
    font-weight: 800;
    align-items: center;
    line-height: 18px;
    overflow: hidden;
    height: 55px;
}
.item-card-item img
{
    width: 33px;
    height: 33px;
}
.item-card-item.card-item-main img
{
    width: 40px;
    height: 40px;
}
.item-card-item .card-col-left
{
    width: 25%;
}
.item-card-item .card-col-mid
{
    width: 60%;
}
.item-card-item .card-col-right
{
    width: 20%;
}
.item-card-item.card-item-main
{
    background-color: var(--rosa);
    font-size: 20px;
}
.item-card-item a
{
    color: white;
    text-decoration: none;
}
.goback-button img
{
    margin: 1rem;
}
.contact-wrapper
{
    display: none;
}
.item-separator
{
    height: 2px;
    background: linear-gradient(45deg,transparent,#000,transparent);
    margin-bottom: 1%;
    margin-top: 3rem;
}
@media(max-width: 768px) 
{
    .goback-button img
    {
        margin: 0rem 1rem;
    }
    .item-row
    {
        flex-direction: column;
        margin-top: 0;
    }
    .item-gallery-box 
    {
        width: 28vw;
        height: 28vw;
    }
    .card-name
    {
        margin-top: 0;
    }
    .item-col-left,.item-col-mid,.item-col-right
    {
        width: 100%;
        margin-top: 3rem;
    }
    .item-gallery
    {
        gap: 10px;
    }
    .item-textfooter p
    {
        width: 87%;
        margin: 0 auto;
    }
    #breadcrumbs {
        font-size: 13px;
        flex-direction: column;
        align-items: flex-end;
        display: flex !important;
    }
    .contact-wrapper
    {
        display: flex;
        gap: 0px;
        justify-content: space-between;
        position: fixed;
        bottom: 0px;
        z-index: 20;
        left: 0px;
        right: 0px;
    }
    .contact-wrapper .contact-btn
    {
        padding: 5px 7px;
        font-size: 21px;
        font-weight: 900;
        text-align: center;
        text-decoration: none;
        width: 50%;
        margin: 0 .0;
    }
    .contact-wrapper .contact-btn img
    {
        width: 30px;
        height: 30px;
        margin: 0;
    }
    .contact-phone
    {
        background-color: #FF588E;
        color: white;
    }

    .contact-whatsapp
    {
        background-color:  #00A6A6;
        color: white;
    }
}