.contact-modal .modal-content,.item_list.gallery,.legenAd,.payment-modal,.post-item-form form,.publicista-info,.search-simple,a.btn-post,a.btn-post:hover,i.circle {
    box-sizing: border-box
}

.payment-steps {
    display: flex;
    justify-content: center;
    gap: 4%;
    font-size: 17px;
    font-weight: 800;
    margin: 1rem 0 2rem
}

.payment-step>span b {
    display: inline;
    color: var(--rosa);
    text-transform: uppercase
}

#paypal_container_extras,#paypal_module {
    max-width: 450px;
    margin: 2rem 0 0 2rem
}

.payment .cards.justify-content-left {
    justify-content: left
}

@media (max-width: 768px) {
    .legenAd,.pswp__button--arrow--prev {
        left:0
    }

    .pswp__button--arrow--next {
        right: 0
    }

    .pay_my_item {
        position: static;
        bottom: 5%
    }

    .main-links a span {
        display: block
    }

    .topbar-content i.icon-alt {
        color: #fff
    }

    .filter {
        border: none;
        box-shadow: none;
        margin-top: 1rem
    }

    .filter .open_filter {
        position: absolute;
        width: 100%;
        max-width: 170px;
        top: 0;
        left: 0;
        right: 0;
        height: 42px;
        background: var(--gris);
        color: #fff;
        font-size: 1.4em;
        font-weight: 700;
        cursor: pointer;
        margin: 0 auto;
        border-radius: 4px;
        padding-left: 6%
    }

    #new_item_post label {
        color: #000;
        font-weight: 500;
        margin-bottom: 0
    }

    .photos-button .photos-button-text {
        font-size: 18px
    }

    #new_item_post .group-checkbox label {
        font-size: 1.1em;
        font-weight: 400
    }

    .fm .form-row {
        margin-bottom: .4rem;
        gap: .4rem
    }

    .my_items_list li .item-head p {
        font-size: 12px;
        display: inline
    }

    .infoAd p.details {
        padding: 0;
        gap: 4%
    }

    .text-on-top {
        position: absolute;
        top: 2px;
        right: 13%;
        color: var(--rosa);
        display: inline;
        font-size: 19px
    }

    .infoAd,.legenAd {
        right: 0;
        bottom: 0
    }

    .my-tickets-container table td.big-cell {
        min-width: 100px
    }

    .main-links {
        grid-template-columns: repeat(2,1fr)
    }

    .categories h2 {
        font-size: 15px;
        text-align: center
    }

    .footer-row,.links-container {
        flex-direction: column
    }

    .infoAd {
        width: 100%
    }

    .col_single.categories_list {
        flex-wrap: wrap
    }

    .photo_box {
        width: 48%
    }

    .more-info-button,.more-info-button:hover {
        width: 90%
    }

    .item_list.gallery {
        height: 51vw;
        max-width: 180px;
        width: 43%;
        margin: 10px 2%;
        max-height: 200px;
        padding: 0
    }

    .banner-no-image {
        height: 10px
    }

    .my_items_list li .item-head {
        flex-direction: column;
        align-items: flex-start
    }

    .r-hide {
        display: none!important
    }

    .footer-parr {
        font-size: 21px
    }

    .search-simple {
        display: none
    }

    .search {
        margin-top: 0
    }

    .item-top-label.listing svg,.item-top-label.premium svg {
        right: -1px
    }

    .fm h2 {
        margin-bottom: .5rem
    }

    .separator {
        height: 1px
    }
}

.big.list,.main-links {
    grid-template-columns: repeat(6,1fr);
}

.big.list.list-col
{
    grid-template-columns: 1fr;
}

.item_list.gallery {
    width: 100%;
    float: left;
    padding: 0px;
    height: 22vw;
    max-height: 320px;
    max-width: 240px;
    position: relative;
    background: #fff;
    overflow: visible;
    border: 0;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    border-radius: 10px;
    margin: 10px auto;
}

.premium_ads .item_list.gallery {
    margin: 10px 2.2% 10px 0
}

.item-top-label.listing,.item-top-label.premium {
    background: var(--rosa);
    position: absolute;
    top: -11px;
    cursor: pointer;
    text-transform: uppercase;
    width: 110px;
    text-align: center;
    color: #fff;
    right: -10px;
    left: inherit;
    height: 22px;
    line-height: 24px;
    z-index: 14;
    padding-right: 20px;
    font-size: 17px;
    font-weight: 800;
    border-radius: 0;
    transform: none;
    opacity: 1;
    transition: opacity 1s cubic-bezier(.075,.82,.165,1)
}

.item-top-label.listing {
    font-size: 15px;
    width: 130px;
}

.active-service,.arrow-container,.iconAd,.min-img-item .item-min,.select-dialog {
    position: relative
}

.item_list:hover .item-top-label.listing,.item_list:hover .item-top-label.premium,.item_list:hover .legenAd {
    opacity: 0
}

.active-service svg,.item-top-label.listing svg,.item-top-label.premium svg {
    position: absolute;
    right: 0
}

.item-active-services {
    display: flex;
    gap: .5rem;
    margin-left: 11rem
}

.item-head>div,.row_payment,.stats-card .card-row {
    display: flex;
    font-size: 15px;
    line-height: 16px;
    justify-content: flex-start
}

.item_list.gallery .imageAdMin,.messages_list li .imageAdMin {
    overflow: hidden;
    text-align: center;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: block;
    vertical-align: top;
    position: relative
}

.item_list.gallery .titleAd {
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    height: auto;
    overflow: hidden;
    text-align: center;
    color: #fff;
    line-height: 19px;
    font-size: 18px;
    font-weight: 900
}

.item-top-label.premium {
    width: 80px;
}

.imageAditem img,.item_list.gallery .imageAdMin img,.messages_list li .imageAdMin img {
    vertical-align: middle;
    max-width: none;
    width: auto;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translate(-50%);
    transform: translate(-50%)
}

.legenAd {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding-bottom: 2rem;
    background: linear-gradient(transparent,rgba(0,0,0,.5));
    flex-direction: column;
    align-items: flex-end;
    border: none;
    border-radius: 7px
}

.iconAd,.legenAd,.splide__track--loop .splide__slide {
    display: flex;
    justify-content: center
}

.iconAd .iconAdPopup {
    padding: 1px 3px;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.23921568627450981);
    position: absolute;
    bottom: 34px;
    right: 0;
    opacity: 0;
    transition: .2s cubic-bezier(.4,0,.2,1);
    z-index: 10;
    white-space: nowrap;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    border: 1px solid #fff
}

.iconAd:hover .iconAdPopup {
    opacity: 1
}

.iconsdiv {
    display: flex;
    position: absolute;
    bottom: 1px;
    right: 1px;
    z-index: 15
}

.iconAd img {
    width: 33px;
    height: 33px;
    margin-left: -2px
}

.legenAd .titlediv {
    width: 100%;
    line-height: 17px
}

.priceAd {
    font-size: 1.4em;
    width: auto;
    color: #ff48a3;
    font-weight: 900
}

.infoAd {
    background-color: rgb(0 0 0 / 65%);
    position: absolute;
    margin: 0;
    right: 0px;
    width: calc(100% );
    bottom: 0px;
    z-index: 0;
    height: calc(100%);
    padding: .5rem .2rem;
    color: #fff;
    opacity: 0;
    transition: 1s cubic-bezier(.075,.82,.165,1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 7px
}

.item_list:hover .infoAd {
    opacity: 1;
    z-index: 10
}

.infoAd h2 {
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    margin: 0 auto;
    font-weight: 700;
    width: 80%
}

.infoAd a,.infoAd h2,.infoAd p.infotext {
    overflow: hidden;
    text-overflow: ellipsis
}

.infoAd p.infotext {
    text-align: center;
    line-height: 15px;
    height: 16px;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-character: "-";
    padding: 0 2%;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap
}

.infoAd p {
    text-align: justify;
    margin: .2rem 0
}

.infoAd a {
    color: #ffe37f;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 0 2px rgba(0,0,0,.32941176470588235);
    display: block;
    font-weight: 900;
    margin-top: .5rem;
    margin-bottom: 0
}

.infoAd p.details {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 5px
}

.infoAd .region {
    font-size: 18px;
    font-weight: 600
}

.post-item-form {
    display: flex;
    align-items: stretch;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.035)!important;
    overflow: hidden
}

.col-payment-footer.col-small,.col_secondary,.form-col-left {
    width: 30%
}

.col-payment-footer.col-big,.col_primary,.form-col-right {
    width: 70%
}

.item-form-img {
    height: 100%;
    width: 100%
}

.post-item-form form {
    padding: 1rem
}

.form-item-tittle {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem
}

.form-item-tittle span {
    width: 40px;
    height: 40px;
    background: #6c757d;
    color: #fff;
    border-radius: 100%;
    line-height: 40px;
    font-size: 16px;
    font-weight: 600;
    text-align: center
}

.form-item-tittle h2 {
    font-size: 28px;
    font-weight: 600;
    color: #000
}

.post-item-form .control-label b {
    color: red
}

.post-item-form .control-label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px
}

.payment-col-table,.post-item-form .form-group {
    display: flex;
    flex-direction: column
}

.input_count {
    font-size: 1.2em;
    text-align: right;
    width: 100%
}

.post-item-form .editable {
    font-size: 1.3em;
    font-weight: 300;
    color: #666;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 3px;
    height: 150px
}

.post-item-footer {
    display: flex;
    gap: 12%;
    margin-top: 2rem;
    overflow: hidden;
    justify-content: center;
    padding: 0;
    width: 70%;
    margin-left: auto;
    position: relative
}

.post-item-footer-box {
    background-color: #fff;
    display: flex;
    gap: .25rem;
    padding: 0 1.5rem;
    z-index: 5;
    cursor: pointer
}

.post-item-footer-box span {
    width: 25px;
    height: 25px;
    background: #6c757d;
    color: #fff;
    border-radius: 100%;
    line-height: 26px;
    font-weight: 700;
    font-size: 12px;
    margin-right: 10px;
    text-align: center
}

.post-item-footer-box p {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    margin: 0
}

.post-item-footer:after {
    width: 100%;
    position: absolute;
    content: "";
    height: 1px;
    background: 0 0;
    border-top: 1px solid rgba(164,174,198,.2);
    top: 42%;
    z-index: 0
}

.open_filter:after,.select-dialog-title:after {
    content: "\f078";
    font-family: font awesome\ 5 free
}

.more-info p {
    margin: 15px;
    padding-bottom: 20px;
    color: #000;
    font-size: 16px
}

.more-info-button,.more-info-button:hover {
    font-size: 16px;
    text-decoration: none;
    color: #000;
    border-radius: 8px;
    margin-bottom: 80px;
    font-weight: 700;
    padding: 3px 16px;
    width: 73%;
    text-shadow: 0 1px 0 rgba(10,2,31,.16862745098039217)
}

.login_div p,.more-info-button span,.payment p.underlined {
    text-decoration: underline
}

.more-info,.text-on-top {
    display: none
}

.more-info.active {
    display: block
}

.separator.main {
    width: 110px;
    background: #000
}

.access-group,.field-pass {
    position: relative;
    width: 100%;
    margin-bottom: 1rem
}

.access-group input,.field-pass input {
    width: 100%!important;
    padding-left: 2.5rem!important;
    border-radius: 4px
}

.access-group i,.field-pass i {
    position: absolute;
    left: 12px;
    top: 14px;
    font-size: 1em;
    color: #828282
}

.login_div #close,.login_div p,footer {
    color: #fff
}

.login_div p,.my-tickets-container,.p-discount-container p,.payment-details-row h3 {
    margin: 0
}

.footer-row a,.help-container a,.help-container a:hover,.login_div h2,a.btn {
    text-decoration: none
}

#formLogin #do_login,#formRecover #recPass {
    width: 100%;
    margin: 1.5rem 0;
    font-size: 1.1em;
    font-weight: 600
}

div.login_div {
    background-color: rgba(0,0,0,.4);
    width: 90vw;
    max-width: 320px;
    padding: 10px 25px;
    border-radius: 20px;
    backdrop-filter: blur(2px)
}

.login_div h2 {
    margin: 15px 0;
    height: 46px;
    font-size: 1.1em;
    font-weight: 600;
    color: #fff;
    line-height: 46px;
    text-indent: 15px;
    text-align: center;
    text-transform: uppercase
}

.fm .form-row {
    gap: 1rem;
    max-width: 720px
}

.group-checkbox {
    text-align: left;
    display: flex;
    gap: 1rem
}

.favorite-title,.payment,.payment p.hightlight,.pending p.concept,.price-tag,dialog.dialog,footer {
    text-align: center
}

.group-checkbox label {
    display: flex;
    margin-right: .5rem;
    padding: 0;
    margin-bottom: 0;
    width: fit-content;
    gap: 6px;
    align-items: center
}

.photos_options {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    gap: 7%;
    font-size: 21px
}

.photos_options i {
    color: #666
}

.photos_options i:hover {
    color: #353535
}

.photo_box {
    width: 23.5%;
    background: #f7f7f7;
    padding: 4px;
    border-radius: 3px
}

.photo_box .photo_list .edit-photo-icon {
    position: absolute;
    right: 0;
    background: var(--rosa);
    border-radius: 50%;
    padding: .2rem;
    z-index: 50
}

.photo_box .photo_list {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.photos_options svg {
    width: 1em;
    height: 1em;
    fill: #666
}

.photos_options svg:hover {
    fill: #353535
}

footer {
    padding: 3px;
    background-color: var(--gris);
    width: 100%;
    border-top: 2rem solid var(--sc-main-color);
    height: 4%
}

.footer-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0
}

.footer-row img {
    width: 40px;
    height: 40px;
    margin: 0 .5rem
}

.footer-row img.copy {
    width: 1em;
    height: 1em;
    margin: 0
}

.link-ren-premium,.link-ren-premium:hover {
    display: block;
    color: #000;
    text-decoration: underline;
    text-align: center;
    margin-bottom: .8rem;
    font-size: 17px;
    margin-top: -5px
}

dialog.dialog[open],div.post-warning-container {
    display: flex;
    align-items: center;
    justify-content: center
}

.payment,dialog.dialog,div.post-warning-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 9999;
    justify-content: center;
    align-items: center
}

.payment.pricing {
    position: static;
    background: #fff;
    border: 1px solid #d5d5d5;
    max-width: 1000px;
    margin: 2rem auto
}

.payment-modal {
    background-color: #fff;
    max-width: 900px;
    width: 90vw;
    border-radius: 5px;
    padding: 1rem;
    position: relative;
    overflow: auto;
    max-height: 90vh;
    margin: 5% auto 0
}

.payment .cards img {
    height: 28px
}

.payment h1 {
    font-size: 17px;
    color: #000;
    font-weight: 800;
    margin-bottom: 0;
    margin-top: 4rem
}

.payment>h2 {
    color: #000;
    font-size: 22px;
    font-weight: 800;
    margin-top: 2rem
}

.payment p {
    font-size: 12pt
}

.payment p.hightlight {
    color: var(--rosa);
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: .2rem;
    font-weight: 700
}

.payment p.hightlight.black {
    color: #000;
    text-transform: none;
    font-size: 20px
}

color .payment.pricing p.hightlight {
    margin-top: .5rem;
    font-size: 15px
}

.payment .metodos {
    max-width: 400px;
    margin-top: 5%
}

.payment .metodos .metodo {
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    gap: .7rem
}

i.circle {
    border: 2px solid #000;
    border-radius: 13px;
    height: 20px;
    width: 20px
}

.metodos .metodo .metodo-desc {
    flex-basis: 62%;
    text-align: left;
    display: flex;
    gap: 5px;
    padding: .2rem 0;
    align-items: center
}

.metodos .metodo .metodo-desc img {
    height: 27px
}

.metodos .metodo .metodo-desc p,.metodos .metodo .metodo-desc span {
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    font-weight: 800;
    color: #000;
    margin: .6rem 0
}

.metodos .metodo:hover {
    background-color: #f6f6f6
}

.metodos .metodo .circle:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--rosa);
    transform: scale(0);
    transition: .3s cubic-bezier(.075,.82,.165,1);
    display: block
}

.payad-details h3 {
    font-size: 21px;
    font-weight: 800
}

.payad-details {
    margin-top: 10%
}

.select-dialog-title:after {
    font-weight: 900;
    font-size: .8em;
    position: absolute;
    top: 14px;
    right: 19px;
    width: 0;
    height: 0
}

.open_filter.opened:after,.select-dialog-title.active:after {
    content: "\f077"
}

.select-dialog>span {
    display: block;
    color: #2b2b2b;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #fff;
    font-weight: 400;
    width: 100%;
    border: 1px solid rgba(0,0,0,.2);
    margin: 5px 0
}

.select-dialog-content label {
    width: 100%;
    text-transform: none;
    margin: 0;
    padding: .3rem
}

.active-service,.fm h2,.pending h6 {
    text-transform: uppercase
}

.select-dialog-content {
    background: #fff;
    width: 100%;
    box-shadow: 0 0 3px rgba(0,0,0,.6392156862745098);
    border: 1px solid #eee;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 108%;
    z-index: 150;
    left: 0
}

.metodos .metodo:hover .circle:after {
    transform: scale(.7)
}

.list-bottom-text h2,.pag_buttons button .fa,.payment-card-title .payment-title,.payment-details h3 {
    font-size: 18px
}

.payment-details p.discount {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 18px
}

.payment-details p.total {
    font-size: 35px;
    font-weight: 700;
    margin: 0;
    line-height: 37px;
    color: var(--rosa)
}

.payment-details p.services.services_extras {
    font-size: 17px;
    font-weight: 700
}

.payment-details-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem
}

.payment-details p.services {
    text-wrap: balance;
    margin-bottom: 2rem;
    font-size: 15px
}

.payment-details.credits-details p.info {
    margin-top: .6rem
}

.payment-details p.info {
    font-size: 13px;
    font-weight: 400
}

.payment p.underlined {
    font-weight: 700;
    margin-top: 1rem
}

.pending {
    padding: 0 2rem
}

.pending h6 {
    margin-top: 2rem
}

.pending svg {
    height: 30px;
    width: 30px;
    vertical-align: middle
}

.pending p {
    text-align: left;
    margin: 0 0 .4rem
}

.pending p.light {
    color: var(--gris-texto);
    font-weight: 600
}

.discount_ads b,.info_link b,.p_discount b,.pending p.concept b {
    color: var(--rosa);
    text-decoration: underline
}

.price-tag {
    background: var(--rosa);
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 106px;
    color: #fff;
    font-weight: 800;
    height: 24px;
    font-size: 15px;
    padding-right: 20px
}

label.payment-option {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    gap: .5rem;
    margin: 0
}

.payment-title {
    font-size: 16px;
    margin: 0 auto;
    display: inline-block;
    line-height: 17px
}

.price-tag svg {
    position: absolute;
    right: 0;
    height: 100%
}

.links hr,.more-info hr {
    height: 1px;
    background: linear-gradient(359deg,transparent,rgba(77,77,77,.5294117647058824),transparent)
}

.price-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em
}

.footer-cards,.payment .cards {
    height: 28px;
    gap: .4rem;
    display: flex;
    align-items: stretch;
    margin: 3rem 0 2.5rem;
    justify-content: center
}

.payment .cards.justify-content-left {
    height: 28px;
    gap: .4rem;
    display: flex;
    align-items: center;
    margin: 1rem 0 .5rem;
    justify-content: center
}

.payment .cards span {
    font-weight: 700;
    font-size: 16px;
    transition: .5s;
    cursor: pointer
}

.payment .fa-times-circle {
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 18px;
    cursor: pointer
}

.payment-col-table span {
    font-size: 14px;
    line-height: 15px
}

.col-payment-footer p {
    padding: 0 2rem;
    margin: 0;
    font-weight: 700
}

.price-link,.price-link:hover {
    color: #000;
    text-decoration: none
}

.table-payment {
    margin: 2rem auto;
    border: 1px solid #dee2e6;
    max-width: 600px;
    border-collapse: collapse
}

.my_items_list li .item-head p {
    margin-right: 2rem;
    margin-bottom: 0;
    position: relative;
    font-size: 15px;
    top: 1rem
}

.payment-footer {
    display: flex;
    max-width: 900px;
    margin: 1rem auto;
    align-items: center
}

.col-payment-footer {
    width: 50%
}

.payment-btn {
    background-color: var(--rosa);
    color: #fff;
    padding: .5rem 1rem;
    font-size: 16px;
    font-weight: 800;
    border: none;
    border-radius: 4px
}

.table-payment td {
    border: 1px solid #dee2e6;
    padding: .5rem .7rem;
    vertical-align: middle
}

.links-container {
    margin: 0 1rem;
    display: flex;
    justify-content: space-around
}

.links-container>div {
    display: flex;
    flex-direction: column;
    flex-basis: 23%
}

.links-container a {
    padding: 2px;
    color: var(--gris)!important;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    text-decoration: none
}

.links hr {
    border: none;
    margin: .5rem 2rem
}

.links h3 {
    margin: 0 2rem;
    padding: 1rem 0 0;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--gris)
}

.list-bottom-text h2,dialog p b {
    color: var(--rosa);
    font-weight: 800
}

.list-bottom-text {
    color: #000;
    font-size: 14px;
    width: 95%;
    margin: 4rem auto 0
}

.list-bottom-text p {
    font-size: 14px;
    margin: .3rem 0;
    text-align: justify
}

.delad-content,.footer-parr,.more-info h5,.my-tickets-container table td,.my-tickets-container table th,.photos-button-text {
    font-size: 16px
}

.more-info hr {
    order: none;
    margin: .5rem 2rem
}

.more-info h5 {
    color: #000;
    padding: 0 2rem;
    margin: 0 0 .8rem
}

.main-links {
    display: grid;
    padding: 0 2%;
    margin-bottom: 2rem
}

.main-links a {
    color: #000!important;
    font-size: 12px;
    text-decoration: none
}

.pag_buttons a,.pag_buttons a:hover,.pag_buttons button {
    background-color: #fafafa;
    color: var(--sc-main-color);
    padding: .1rem .6rem;
    font-size: 18px;
    font-weight: 800;
    border-radius: 4px;
    margin: 0 .4rem;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    text-decoration: none
}

.contact-product-form .form-group,.cover h6 {
    margin-bottom: 0
}

.pag_buttons a.current,.pag_buttons button.current {
    background-color: var(--sc-main-color);
    color: #fff;
    border-color: var(--sc-main-color)
}

.item_list.gallery>div.item_list_top {
    width: 100%;
    height: 100%
}

.cover {
    background-color: rgba(33,33,33,.5607843137254902);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    bottom: 0;
    margin-top: .5rem
}

.cover h6 {
    margin-top: 3rem;
    font-weight: 900
}

.cover h6,.cover p {
    font-size: 1.2rem;
    text-align: center;
    color: #fff
}

.cover p {
    font-weight: 500;
    margin: .5rem 0;
    min-height: 28px
}

.cover a,.photos-button-text {
    font-weight: 600;
    color: #fff;
    text-align: center
}

.cover a {
    text-decoration: underline!important;
    display: block;
    font-size: 17px
}

#banner_preview>div {
    width: 95%;
    max-width: 765px;
    margin: 7rem auto
}

.banner-preview {
    width: 100%;
    max-width: 740px;
    height: 120px
}

.banner-preview-r {
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    display: block
}

.photos-container .subtitle_photos_list {
    padding: 0;
    font-size: 15px;
    text-align: center;
    width: 100%;
    max-width: 500px
}

.photos-container {
    width: 100%;
    max-width: 610px;
    margin: 0
}

.photos-button.disabled {
    background-color: #818181
}

.photos-button {
    width: 100%;
    display: flex;
    max-width: 620px;
    padding: 20px 10px;
    margin: 2rem auto 0;
    justify-content: center;
    background-color: var(--sc-main-color);
    border-radius: 4px;
    align-items: center;
    cursor: pointer;
    position: relative
}

.photos-button input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer
}

.photos_list {
    background-color: transparent
}

.photo_list img.horizontal {
    max-height: none;
    height: 100%;
    max-width: none;
    width: auto
}

.photo_list img.vertical {
    width: 100%;
    max-width: none;
    height: auto;
    max-height: none
}

.footer-parr {
    margin: 0;
    padding: 0 .9rem
}

.img-tarifas {
    width: 100px!important;
    height: auto!important
}

.contact-product-form p a,.footer-parr a {
    color: #fff;
    text-decoration: none
}

.footer-parr a.link-green {
    color: #1bb6a7
}

.img-input-box {
    position: relative;
    min-width: 50px;
    width: 100%;
    height: 100%
}

.img-input-box img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block
}

.image-user,.min-img-item img {
    object-fit: cover;
    object-position: top
}

.img-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%!important;
    opacity: 0;
    cursor: pointer;
    z-index: 10
}

.header-banner img {
    width: 100%;
    height: auto;
    max-height: 140px
}

.post-warning,dialog.dialog[open] .dialog-modal {
    padding: 2rem;
    border-radius: 1rem;
    background-color: #fff;
    position: relative;
    border: 1px solid #000;
    margin-bottom: 10%
}

.post-warning {
    padding: 0;
    border-radius: 5px;
    overflow: hidden;
    max-width: 400px
}

.post-warning p {
    width: 90%;
    margin: 1.5rem auto;
    font-size: 17px;
    color: #000;
    font-weight: 500;
    text-align: center
}

.post-warning p a {
    color: inherit;
    text-decoration: none
}

.post-warning-button {
    width: 100%;
    margin: 0;
    padding: .5rem 1rem;
    color: #000;
    background-color: #ffd84f;
    border: none;
    text-align: left;
    font-size: 16px;
    font-weight: 600
}

.dialog-p-discount {
    width: 100%;
    max-width: 700px
}

.dialog-modal .fa-times-circle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 1.2rem
}

.dialog-modal .fa-times-circle.close-info {
    top: .5rem;
    right: .5rem
}

dialog p {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: .5rem
}

a.btn-post,a.btn-post:hover {
    text-align: center;
    background: var(--gris);
    font-size: 15px;
    color: var(--amarillo);
    max-width: 190px;
    width: 100%;
    font-family: MiFuenteAlternativa,Arial,Helvetica,sans-serif;
    font-weight: 700;
    padding: 4px;
    display: inline-block;
    line-height: 17px;
    text-wrap: wrap;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: 0 0 0 3px var(--gris);
    margin-left: 10px
}

.account .active-service,.active-service.pending,.btn-t-dsing span {
    background: var(--rosa)
}

.search .home-link {
    padding-top: 13%;
    font-weight: 700
}

a.hidden-link {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    text-transform: none
}

.search-simple {
    position: relative;
    width: 100%;
    display: flex;
    padding: 3px 5px
}

.dialog-p-discount h3 {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 1.5rem
}

.p-discount-display {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    max-width: 300px
}

.p-discount-container input {
    margin-right: .2rem
}

.search-simple-main {
    width: 94%
}

.search-simple-input {
    height: 35px;
    min-height: 35px;
    line-height: 35px;
    padding: 5px 9px;
    border: 1px solid #dcdcdc;
    margin: 0 5px 0 0;
    display: block;
    color: #232323;
    background: #fff;
    font-size: 1.2em;
    box-shadow: none;
    font-weight: 300;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 100%
}

.search-simple-button {
    width: 6%
}

.search-simple-button-search {
    background: var(--sc-main-color);
    border: none;
    width: 94%;
    outline: 0;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
    margin: 0 0 0 2px;
    display: block;
    height: 100%;
    border-radius: 5px
}

.btn-t {
    position: relative;
    overflow: hidden
}

.btn-t-dsing {
    left: 0;
    padding-right: 10%
}

.btn-t-dsing,.btn-t-dsing svg {
    position: absolute;
    top: 0;
    bottom: 0
}

.btn-t-dsing svg {
    right: 0;
    height: 100%;
    width: auto;
    color: var(--rosa)
}

span.lang {
    margin-right: 0;
    display: inline-block;
    height: 1.3em
}

.btn-t-dsing span {
    height: 100%;
    display: inline-block;
    margin: 0!important;
    vertical-align: initial!important;
    padding: 0 .4rem
}

.fm h2 {
    text-align: center;
    color: #000;
    margin-bottom: 2rem;
    font-size: 19px
}

.imageAditem.horizontal img {
    max-width: none!important;
    max-height: none!important;
    width: auto;
    height: 100%
}

.imageAditem.vertical img {
    max-width: none!important;
    max-height: none!important;
    width: 100%;
    height: auto
}

.filter input[type=button] {
    background-color: var(--rosa);
    border-radius: 4px;
    text-transform: capitalize;
    font-weight: 700
}

.open_filter .fa-search {
    font-size: 21px
}

.text-underline {
    color: #000;
    font-weight: 800;
    border-bottom: #ffdead;
    width: fit-content;
    margin: 0 auto .8rem;
    line-height: 21px;
    font-size: 20px
}

.open_filter:after {
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    position: absolute;
    top: 34%;
    right: 6%;
    font-size: 14px
}

.image-user {
    border-radius: 50%;
    height: 2em;
    width: 2em
}

.search {
    margin-top: 2px
}

.button_search span {
    color: var(--amarillo);
    font-weight: 500;
    font-size: 18px;
    margin-left: .2em
}

.my-tickets-container h2 {
    color: #000;
    font-weight: 900
}

.active-service {
    display: inline;
    background: var(--panel-blue);
    color: #fff;
    line-height: 16px;
    font-size: 12px;
    font-weight: 700;
    padding: .2rem .5rem;
    border-radius: 3px;
    white-space: nowrap
}

.messsage_title {
    font-weight: 300;
    color: #232323;
    margin: 0;
    font-size: 1.3rem
}

.pay_my_item {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0
}

.edited_msg {
    position: absolute;
    border: 1px solid #000;
    background: #fff;
    border-radius: 4px;
    top: 5px;
    padding: .5rem 2rem .5rem 1rem;
    left: 0;
    z-index: 10
}

.edited_msg p {
    font-size: 14px;
    color: var(--rosa);
    margin: 0
}

.edited_msg i {
    color: #000;
    position: absolute;
    right: 7px;
    top: 37%
}

.table-responsive-md::-webkit-scrollbar {
    display: none
}

.pswp__button--arrow--next {
    right: 25%
}

.pswp__button--arrow--prev {
    right: auto;
    left: 25%
}

.pswp__scroll-wrap .pswp__top-bar {
    left: calc(50% - 200px);
    top: calc(50vh - 300px);
    max-width: 450px
}

.stats-card img {
    width: 45%;
    margin: 0 auto;
    display: block
}

.stats-card .card-row .group {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.stats-card h3 {
    font-size: 18px;
    text-align: center
}

.stats-card {
    box-shadow: 0 0 2px 1px rgba(0,0,0,.1);
    border-radius: 5px;
    background-color: #fff;
    margin: 3px;
    padding: 1rem;
    height: 100%
}

.stats-card hr {
    color: #5a5a5a;
    margin-top: 1rem
}

.stats-card h4 {
    font-size: 17px;
    color: #5a5a5a;
    font-weight: 300
}

.stats-card b {
    font-size: 27px;
    font-weight: 700;
    line-height: 24px
}

.stats-list {
    padding: 0;
    list-style: none;
    width: 100%
}

.stats-card .stats-list li {
    padding: .3rem 0;
    font-size: 16px;
    color: #636363
}

.stats-card .stats-list b {
    font-size: inherit;
    background: var(--sc-dark-blue);
    color: #fff;
    padding: 2px 5px;
    line-height: 15px;
    border-radius: 100%;
    float: right
}

.favorite-title h1 {
    font-size: 1.4em;
    margin-bottom: .5rem
}

.favorite-title p,.payment_card_options label.payment-option {
    font-size: 17px
}

.edit-photo-icon svg,.edit-photo-icon svg:hover {
    fill: var(--rosa)
}

.edit-photo-icon svg:hover,.photo_list .edit-photo-icon svg {
    fill: white
}

.post-info {
    position: absolute;
    right: 0;
    top: 0;
    width: 280px;
    padding: 0 10px
}

.min-img-item {
    display: flex;
    gap: 5px;
    padding: 5px 0;
    flex-wrap: wrap;
    justify-content: center
}

.min-img-item img {
    width: 60px;
    height: 75px
}

.img_my_item,.img_my_item img {
    width: 100%;
    max-height: 220px;
    height: auto;
    overflow: hidden
}

.img_my_item img,.post-info-container.open {
    max-height: none
}

.post-info-button {
    position: absolute;
    right: 5%;
    color: grey;
    z-index: 10
}

.post-info-button:hover {
    color: #000
}

.editor-box {
    display: flex;
    justify-content: center;
    max-height: 500px;
    max-width: 500px
}

.contact-modal .modal-dialog {
    max-width: 330px
}

.contact-modal .modal-content {
    background: linear-gradient(180deg,var(--gris),var(--grisoscuro));
    border: 2px solid #dcdcdc;
    border-radius: 8px
}

.contact-modal .modal-header .close {
    position: absolute;
    padding: .5rem;
    right: 21px;
    color: #fff;
    opacity: 1
}

.contact-modal .modal-header h4 {
    padding: .5rem 2.5rem;
    background: linear-gradient(0deg,var(--rosa),#ee3d7b);
    font-size: 19px;
    display: block;
    margin: .1rem auto;
    border-radius: 1.5rem;
    width: fit-content;
    color: #fff
}

.contact-modal .modal-header {
    border-bottom: none;
    padding-bottom: 0
}

.contact-product-form input[type=tel],.contact-product-form input[type=text],.contact-product-form textarea {
    width: 80%!important;
    resize: none;
    box-sizing: border-box;
    display: block!important;
    font-size: 15px;
    padding: .4rem .75rem;
    border-radius: 7px;
    margin: 1.5rem auto!important;
    border: 1px solid;
    border-right: none;
    border-left: none;
    min-height: 0
}

.contact-product-form input[type=button] {
    display: block;
    background: linear-gradient(0deg,var(--rosa),#ee3d7b);
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    cursor: pointer;
    padding: .3rem 1rem;
    border: none;
    border-radius: .2rem;
    outline: 0;
    width: fit-content!important;
    margin: 0 auto 1.5rem;
    min-height: 0!important
}

.contact-product-form p {
    font-size: 15px;
    padding: 2px;
    text-align: center;
    margin: 1rem;
    color: #fff
}

.discount_ads {
    font-size: 16px;
    text-align: center;
    color: #000
}

.act-service,.text-waring {
    color: var(--rosa)
}

img.discount_ads {
    max-width: 300px
}

.contact-product-form {
    background-color: transparent;
    padding: 0
}

.item_image>a {
    background-color: transparent!important;
    display: inline!important
}

.post-info-dialog {
    display: block;
    visibility: hidden;
    opacity: 0;
    top: -8px;
    position: absolute;
    z-index: 5;
    background-color: #fff;
    border: none;
    transition: .3s;
    transform-origin: top;
    transform: scaleY(0);
    padding: 2rem 10px 10px;
    box-shadow: 0 0 2px 1px #a9a9a9;
    border-radius: 6px;
    width: 100%;
    margin-right: 4px
}

.publicista-info p {
    text-align: left;
    line-height: 17px;
    font-size: 16px;
    font-weight: 600
}

.publicista-info {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 3px #00000054;
    border-radius: 6px;
    padding: 1.5rem 15px 15px
}

.post-info-dialog ul {
    font-size: 14px;
    font-weight: 300;
    list-style: none;
    padding-left: 2.5rem;
    text-transform: none;
    text-align: left
}

.post-info-dialog li {
    position: relative;
    margin-bottom: .5rem
}

.post-info-dialog li i.fa {
    position: absolute;
    left: -14%;
    top: 25%;
    color: var(--sc-main-color);
    font-size: 1.1em
}

.post-info-container {
    max-height: 400px;
    overflow: hidden
}

.publicista_design {
    position: relative;
    height: 30px;
    max-width: 850px;
    margin: 0 auto
}

.publicista_design img {
    position: absolute;
    top: -3rem;
    left: 6%;
    width: 139px;
    transform: rotate(0)
}

.cap_fav {
    position: absolute;
    font-size: 18px;
    top: 1px;
    right: 3px
}

.post-info-dialog[open] {
    visibility: visible;
    opacity: 1;
    transform: scaleY(1)
}

.post-info-dialog .post-info-open,.post-info-dialog .post-info-open:hover {
    font-size: 16px;
    color: var(--sc-main-color)
}

.act-service {
    outline: 0;
    border-radius: 3px;
    border: 2px solid var(--rosa);
    background-color: transparent;
    padding: 2px 10px;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 15%
}

.payment_cards {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.payment-card {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 1rem
}

.payment-card-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem
}

.modal label {
    font-size: 15px
}

.payment_card_options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 260px;
    margin: 0 auto
}

.pricing .payment_card_options {
    max-width: 220px
}

.item-list-bolsa {
    display: flex;
    border-bottom: 1px solid #e1e1e1;
    margin: 1rem 0
}

.item-list-bolsa-img img {
    width: 60%;
    display: block;
    margin: 0 auto
}

.item-list-bolsa-img {
    width: 15%;
    display: flex;
    align-items: center
}

.item-list-bolsa-text {
    width: 85%;
    padding: 1rem
}

.item-list-bolsa-text a {
    font-weight: 700
}

.item-list-bolsa-text p {
    font-size: 16px;
    margin-bottom: .1rem
}

.premiun_container {
    max-width: 1250px;
    margin: 0 auto 6rem
}

.item-list-bolsa-text h3 {
    font-size: 19px;
    font-weight: 700;
    margin: .8rem 0
}

.splide__arrow--prev {
    left: -1em
}

.splide__arrow--next {
    right: -1em
}

.modal-title {
    font-size: 1.35rem
}

.panel-publicista button {
    text-decoration: none;
    color: #fff;
    background: #26afdc;
    width: 150px;
    padding: 5px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    border: none
}

.btn-standar.btn-main {
    background-color: var(--sc-main-color)!important;
    border-color: var(--sc-main-color)
}

.my_items_list .options_my_item ul li.item_pending a,li.item_pending a {
    color: var(--rosa);
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    text-decoration: underline
}

.delete-pending-container {
    padding: .5rem 0;
    margin-top: 1rem
}

.imageAdMin .delete_fav {
    position: absolute;
    top: -2px;
    right: 1px;
    z-index: 100;
    color: #ff48a3;
    font-size: 22px;
    cursor: pointer
}

.arrow-container {
    display: none
}

.panel-publicista {
    margin-top: 3rem;
    border-top: 1px solid #ddd;
    padding-top: 1rem
}

.item-head input[type=checkbox] {
    vertical-align: top;
    margin-right: .5rem
}

.filter_options p {
    text-align: center;
    margin-bottom: 0;
    font-weight: 300
}

.categories h2 {
    text-align: center;
    font-weight: 900
}

.categories h2 b {
    display: block;
    font-weight: inherit;
    font-size: inherit;
    color: #ff96ca
}

.credits-details .error-credits {
    color: #ff48a3;
    font-weight: 800;
    margin: .3rem 0;
    font-size: 15px
}

.credits-details input[type=number] {
    padding: .3rem 1rem;
    border-radius: 4px;
    font-weight: 700;
    font-size: 17px;
    max-width: 100px
}

.pag_buttons {
    margin-top: 6vw;
    text-align: center;
    margin-bottom: 6vw;
}

.big.list {
    display: grid;
    gap: 0 0.22%;
    padding: 0px 0%;
}

.btn-main,.btn-main:hover {
    background-color: var(--sc-main-color);
    border-color: var(--sc-main-color);
    color: #fff;
    border-radius: 3px
}

.carousel-list .item_list {
    margin: 10px calc(1.65% - 10px);
    width: 20%
}

.btn-pink,.btn-pink:hover {
    background-color: var(--rosa);
    border-color: var(--rosa);
    color: #fff
}

.btn-secondary,.btn-secondary:hover {
    background-color: var(--gris);
    border-color: var(--gris);
    color: #fff
}

.post-help {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0
}

.post-help-item {
    padding: 0 .5rem
}

.post-help-item a {
    color: #000;
    font-weight: 700;
    font-size: 16px
}

.help-card b,.post-help-item a b {
    color: var(--rosa);
    font-weight: inherit
}

.help-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem 5%;
}

.help-card {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 0 1px #141414;
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    color: #000;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    min-height: 100px
}

@media (max-width: 1250px) {
    .big.list {
        gap:1.2%
    }
}

@media (max-width: 768px) {
    .act-service,.pay_my_item {
        position:static
    }

    .big.list {
        gap: 0;
        grid-template-columns: repeat(3,1fr)
    }

    .help-container {
        grid-template-columns: 1fr;
        padding: 0 1rem
    }
    .help-card
    {
        font-size: 19px;
    }

    .filter,.payment-details {
        margin-top: 2rem
    }

    .categories h2,.p_discount,.pag_buttons {
        text-align: center
    }

    .pswp__button--arrow--next {
        right: 0
    }

    .active-service,.payment p br,.search-simple {
        display: none
    }

    .legenAd,.pswp__button--arrow--prev {
        left: 0
    }

    .pay_my_item {
        bottom: 5%;
        padding-top: 0!important;
        padding-bottom: 10px;
        margin-top: -15px
    }

    .main-links a span {
        display: block
    }

    .topbar-content i.icon-alt {
        color: #fff
    }

    .filter {
        border: none;
        box-shadow: none
    }

    .filter .open_filter {
        position: absolute;
        width: 100%;
        max-width: 170px;
        top: 0;
        left: 0;
        right: 0;
        height: 38px;
        background: var(--gris);
        color: #fff;
        font-size: 1.2em;
        font-weight: 700;
        cursor: pointer;
        margin: 0 auto;
        border-radius: 4px;
        padding-left: 6%
    }

    .item-top-label.premium {
        right: 0px;
    }

    #new_item_post label {
        color: #000;
        font-weight: 500;
        margin-bottom: 0
    }

    img.discount_ads {
        max-width: 150px
    }

    #new_item_post label.radio {
        font-size: 18px;
        line-height: 21px;
        margin: .8rem 0;
        hyphens: auto
    }

    .act-service,.categories h2,.photos-button .photos-button-text {
        font-size: 18px
    }

    #new_item_post .group-checkbox label {
        font-size: 1.1em;
        font-weight: 400
    }

    .fm .form-row {
        margin-bottom: .4rem;
        gap: .4rem
    }

    .select-dialog-content {
        max-height: 140px;
        overflow-y: scroll;
        left: 0
    }

    .item-list-bolsa-img {
        align-items: flex-start;
        padding: 9% 0
    }

    .my_items_list li .item-head p {
        font-size: 12px;
        display: inline;
        top: 0
    }

    .infoAd p.details {
        padding: 0;
        gap: 4%
    }

    .col_primary,.col_secondary {
        width: 100%
    }

    .row_payment {
        flex-wrap: wrap
    }

    .text-on-top {
        position: absolute;
        top: 2px;
        right: 13%;
        color: var(--rosa);
        display: inline;
        font-size: 19px
    }

    .iconsdiv,.infoAd,.legenAd {
        right: 0;
        bottom: 0
    }

    .table-payment b,.table-payment span {
        display: inline-block;
        text-wrap: nowrap
    }

    .discount_counter {
        margin: 0!important;
        font-size: 16px!important
    }

    .act-service {
        padding: 0 .5rem;
        margin: .2rem 0
    }

    #paypal_module {
        max-width: 450px;
        margin: 2rem 0 0
    }

    .pending {
        padding: 0
    }

    .infoAd a {
        margin-top: 0;
        margin-bottom: 0;
        pointer-events: none
    }

    .my-tickets-container table td.big-cell {
        min-width: 100px
    }

    .main-links {
        grid-template-columns: repeat(2,1fr)
    }

    .links-container {
        flex-direction: column;
        width: 85%;
        margin: 0 auto
    }

    .links hr {
        margin: .5rem 0
    }

    .infoAd {
        width: 100%;
        height: 100%
    }

    .cover,.cover p,.search {
        margin-top: 0
    }

    .col_single.categories_list {
        flex-wrap: wrap;
        margin: 3rem 0
    }

    .footer-row {
        flex-direction: column
    }

    .my_items_list .options_my_item ul li.item_pending a,li.item_pending a {
        font-size: 18px;
        line-height: 18px
    }

    .photo_box {
        width: 48%
    }

    .more-info-button,.more-info-button:hover {
        width: 90%;
        font-size: 17px
    }

    .carousel-list .item_list.gallery {
        width: 100%!important;
        height: 65vw;
        margin-top: 1rem
    }

    .item_list.gallery {
        height: 33vw;
        max-width: 188px;
        width: 85%;
        margin: 10px auto;
        max-height: 197px;
        padding: 0
    }

    .last_ads_list,.related_ads_list {
        overflow: hidden;
        padding-top: .2rem
    }

    .premium_ads {
        margin-bottom: 3rem!important
    }

    .banner-no-image {
        height: 10px
    }

    .my_items_list li .item-head {
        flex-direction: column;
        align-items: flex-start
    }

    .my_items_list li .item-head span {
        white-space: nowrap
    }

    .item-top-label.listing {
        font-size: 12px!important;
        right: 0px;
    }

    .r-hide {
        display: none!important
    }

    .footer-parr {
        font-size: 20px
    }

    .arrow-container {
        display: block;
        height: 0
    }

    .p-discount-buttons button {
        width: 40%!important
    }

    .payment-steps {
        gap: 0;
        flex-direction: column;
        margin-top: 2rem
    }

    dialog.dialog[open] .dialog-modal {
        padding: 1rem
    }

    .item-top-label.listing svg,.item-top-label.premium svg {
        right: -1px
    }

    .fm h2 {
        margin-bottom: .5rem
    }

    .min-img-item img {
        width: 25vw;
        height: 30vw
    }

    .img_my_item,.img_my_item img {
        width: 90%;
        margin: 0 auto
    }

    .publicista_design img {
        position: absolute;
        top: -2rem;
        left: -8%;
        width: 110px
    }

    .separator {
        height: 1px;
        width: 94%
    }

    .payment.pricing {
        border: none
    }

    .pag_buttons {
        margin-top: 21%;
        margin-bottom: 25%;
    }

    .item_list:hover .infoAd {
        opacity: 0;
        z-index: 0
    }

    .item_list.opened .infoAd {
        opacity: 1;
        z-index: 10
    }

    .group-checkbox {
        gap: 0
    }
    .post-help-item
    {
        width: 34%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .big.list {
        grid-template-columns:repeat(2,1fr);
        gap: 0;
        padding: 0;
    }

    .item_list.gallery {
        max-height: 240px;
        margin: 0.9vw auto;
        height: 65vw;
        width: 98%;
    }

    .premium_ads .item_list.gallery {
        margin: 10px 0%;
        width: 50%;
    }

    .col_single.account {
        padding: 15px 5px
    }

    .col_single.account .item_list.gallery {
        width: 46%;
        height: 54vw
    }

    .glide .item_list.gallery,.glide__slide .item_list.gallery {
        height: 50vw
    }

    .select-dialog-content {
        width: 90vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }

    .info_link b {
        display: block
    }

    .select-dialog-content label {
        width: 50%
    }

    .nav_account.nav_account_responsive li {
        padding: 0 .3rem;
        align-items: center;
        gap: 0;
        font-size: 15px;
        font-weight: 700
    }

    .imageAditem.vertical img, .item_list.gallery .imageAdMin.vertical img, .messages_list li .imageAdMin.vertical img
    {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .r-show {
        display:none!important
    }

    .img-item-content {
        height: 220px
    }
    .pswp__button--arrow--next
    {
        right: 25% !important;
    }
    .pswp__button--arrow--prev
    {
        left: 25% !important;
    }
}

.arrow {
    position: absolute;
    top: -15px;
    right: 8%;
    transform: translate(-50%,-50%);
    transform: rotate(-90deg);
    cursor: pointer
}

.arrow span {
    display: block;
    width: 2.5vw;
    height: 2.5vw;
    border-bottom: 3px solid var(--rosa);
    border-right: 3px solid var(--rosa);
    transform: rotate(45deg);
    margin: -10px;
    animation: 2s infinite animate
}

.arrow span:nth-child(2) {
    animation-delay: -.2s
}

.arrow span:nth-child(3) {
    animation-delay: -.4s
}

.p-discount-container {
    display: flex;
    justify-content: space-between
}

.info-payment {
    font-size: 12px;
    color: #353535;
    line-height: 13px;
    margin: 1rem 0 0
}

.btn-standar,.btn-standar:hover {
    background-color: var(--rosa);
    color: #fff;
    border-radius: 3px;
    padding: .3rem 1rem;
    line-height: 1.1em;
    font-weight: 600
}

.post-info-link-secondary,.post-info-link-secondary:hover {
    text-align: center;
    font-size: 16px;
    color: #000;
    text-decoration: underline;
    width: 100%;
    text-transform: uppercase;
    margin-top: 2rem;
    display: block
}

.item_info {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.discount_counter {
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    padding: .35rem .5rem;
    line-height: 25px;
    margin-right: 1rem;
    background: var(--rosa);
    cursor: pointer
}

.post-info-link-main,.post-info-link-main:hover {
    width: 90%;
    background-color: var(--sc-main-color);
    color: #fff;
    font-size: 17px;
    text-align: center;
    border-radius: 3px;
    font-weight: 700
}

.p_discount {
    font-size: 1.2em;
    color: #000;
    border: 2px solid var(--rosa);
    font-weight: 900;
    padding: .6rem;
    border-radius: 7px
}

.btn-green,.btn-pink {
    border: none!important;
    color: #fff!important
}

.p-discount-buttons button {
    width: 30%;
    margin: 0 .5rem
}

.btn-green {
    background-color: var(--sc-main-color)!important
}

.btn-pink {
    background-color: var(--rosa)!important
}

.info_link,.info_link:hover {
    color: #000;
    font-size: 17px;
    text-decoration: underline;
    font-weight: 800;
    float: right;
    margin-top: .3rem
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px)
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px)
    }
}
